# ===============================
# PlatformIO
# ===============================
.pio/

# ===============================
# Arquivos temporários / IDE
# ===============================
.vscode/
.idea/
.clion/
cmake-build-*/

# ===============================
# Sistema operacional
# ===============================
.DS_Store
Thumbs.db